<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Person Found</title>

  <link rel="stylesheet" href="/public/site.css" />
</head>

<body>
  <main>
    <h1 class=>Error</h1>
    <p class="error">You must enter a string of at least one character to search. You may not leave the field blank.</p>
    
    <a href="/">Make another search</a>
  </main>
</body>

</html>