<footer>
    <p>Name: Justin Westley</p>
    <p>ID: 10416230</p>
    <p>Year: Junior</p>
    <p>Major: Computer Engineering</p>
</footer>
<form id="static-form" method="post">
    <ol id="attempts">
    </ol>
    <div>
        <label for="number">Number</label>
        <input type="number" id="number" name="number" />
    </div>
    <div class="form-group hidden" id="error-container">
        <div class="alert alert-danger text-goes-here">
        </div>
      </div>
    <div>
        <button type="submit">Check if Prime</button>
    </div>
</form>